node_modules/
dist/
.env
.env.*
npm-debug.log*
yarn-error.log*

# Virtual environments
.venv/
venv/
env/

DiQuaMuaHaa/backend/dataset/
DiQuaMuaHaa/backend/driver_training/dataset/
DiQuaMuaHaa/backend/driver_training/models/*
!DiQuaMuaHaa/backend/driver_training/models/landmark_model.pkl
!DiQuaMuaHaa/backend/driver_training/models/hand_model.pkl
DiQuaMuaHaa/backend/driver_training/runs/
DiQuaMuaHaa/backend/driver_training/collect/data/landmarks_kaggle.csv

__pycache__/
*.py[cod]
*.pt
*.onnx
*.dll